table { border-collapse:collapse; }
body { font-family : "Meiryo UI"; }
td { padding : 100px,100px,100px,100px ; border : solid 1px silver ; text-align : left ;}
.header { text-align : center ;}
.inout { width : 5em ;}
.in, .out, #islandtime { text-align : center ;}
td.icon { width : 44px; height : 56px ; background-repeat: no-repeat, no-repeat; }
